.Login {
    
    position: absolute;
    top: 50%;
    left: 50%;
    width: 850px;
    height: 550px;
    transform: translate(-50%, -50%);
    background-color: #393F49;
    border-radius: 5px;
    padding: 4rem;
    box-shadow: 5px 5px 15px 5px rgb(0 0 0 / 30%);
}